.left_column {
    margin-right:170px;
}

.right_column {
    float: right;
    width: 160px;
}

#nav_container {
    list-style-type:none;
    margin-bottom: 15px;
}

#nav_container li {
    display:inline-block;
}
    
#nav_container li a{
    display:inline-block;
    text-decoration:none;
    padding: 5px;
    color:green;
}
    
#nav_container li a:hover {
    color:yellow;
}

div#main_content {
    background-image: url(http://huntsy.com/assets/blue_thatch.png);
    background-repeat: repeat-Y;
    width:900px;
    margin: 0 auto;
}

